.my-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/image/t-7.jpg);
    background-position: center center;
    background-size: cover;
    height: 60vh;
    color: white;
}
.form-control {
    border: 2px solid #931A22;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.form-label {
    font-weight: bold;
    color: #343a40;
}
button.btn-me {
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #931A22;
    transition: 0.3s;
    cursor: pointer;    
}
button.btn-me:hover{
    border: 1px black solid;
}
.container {
    margin-top: 20px;
}
#content {
    background-color: #f8f9fa;
    border: 2px dashed #931A22;
    border-radius: 10px;
    padding: 20px;
}
.card {
    padding: 15px; /* Adjust padding as needed */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}